<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.education.system.mapper.AccountMapper">
    <resultMap id="accountInfo" type="com.education.system.dto.Account">
        <id column="id"  property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="identities" jdbcType="INTEGER" property="identities"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <insert id="addAccount" parameterType="com.education.system.dto.Account" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        edu_account (account,password,identities,status)
        VALUES (#{account},#{password},#{identities},#{status});
        <!--
        <selectKey keyProperty = "id" resultType = "java.lang.Integer" order = "AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        -->
    </insert>

    <select id="login" parameterType="com.education.system.dto.AccountDto" resultMap="accountInfo">
        select account,password from edu_account
        <where>
            <if  test="account !=null and password !=null"  >
                account = #{account} and password = #{password};
            </if>
        </where>
    </select>

    <select id="selectAccount" parameterType="com.education.system.dto.AccountDto" resultMap="accountInfo">
        select account,password,identities from edu_account
        <where>
            <if  test="account !=null and password !=null and identities !=null"  >
                account = #{account} and password = #{password} and identities = #{identities};
            </if>
        </where>
    </select>
</mapper>