<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system.mapper.eduCourseMapper">
  <resultMap id="BaseResultMap" type="com.education.system.entity.eduCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_name" jdbcType="VARCHAR" property="course_name" />
    <result column="term" jdbcType="VARCHAR" property="term" />
    <result column="coreliteracycoefficient" jdbcType="VARCHAR" property="coreliteracycoefficient" />
    <result column="schoolhour" jdbcType="INTEGER" property="schoolhour" />
    <result column="course_theme" jdbcType="VARCHAR" property="course_theme" />
    <result column="course_content" jdbcType="VARCHAR" property="course_content" />
    <result column="course_module" jdbcType="VARCHAR" property="course_module" />
    <result column="course_scenes" jdbcType="VARCHAR" property="course_scenes" />
    <result column="course_task" jdbcType="VARCHAR" property="course_task" />
    <result column="course_type" jdbcType="VARCHAR" property="course_type" />
    <result column="coreliteracyid" jdbcType="INTEGER" property="coreliteracyid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, course_name, term, coreliteracycoefficient, schoolhour, course_theme, course_content, 
    course_module, course_scenes, course_task, course_type, coreliteracyid
  </sql>
  <select id="selectByExample" parameterType="com.education.system.entity.eduCourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitSize >= 0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.system.entity.eduCourseExample">
    delete from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.system.entity.eduCourse">
    insert into edu_course (id, course_name, term, 
      coreliteracycoefficient, schoolhour, course_theme, 
      course_content, course_module, course_scenes, 
      course_task, course_type, coreliteracyid
      )
    values (#{id,jdbcType=INTEGER}, #{course_name,jdbcType=VARCHAR}, #{term,jdbcType=VARCHAR}, 
      #{coreliteracycoefficient,jdbcType=VARCHAR}, #{schoolhour,jdbcType=INTEGER}, #{course_theme,jdbcType=VARCHAR}, 
      #{course_content,jdbcType=VARCHAR}, #{course_module,jdbcType=VARCHAR}, #{course_scenes,jdbcType=VARCHAR}, 
      #{course_task,jdbcType=VARCHAR}, #{course_type,jdbcType=VARCHAR}, #{coreliteracyid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.education.system.entity.eduCourse">
    insert into edu_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="course_name != null">
        course_name,
      </if>
      <if test="term != null">
        term,
      </if>
      <if test="coreliteracycoefficient != null">
        coreliteracycoefficient,
      </if>
      <if test="schoolhour != null">
        schoolhour,
      </if>
      <if test="course_theme != null">
        course_theme,
      </if>
      <if test="course_content != null">
        course_content,
      </if>
      <if test="course_module != null">
        course_module,
      </if>
      <if test="course_scenes != null">
        course_scenes,
      </if>
      <if test="course_task != null">
        course_task,
      </if>
      <if test="course_type != null">
        course_type,
      </if>
      <if test="coreliteracyid != null">
        coreliteracyid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="course_name != null">
        #{course_name,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="coreliteracycoefficient != null">
        #{coreliteracycoefficient,jdbcType=VARCHAR},
      </if>
      <if test="schoolhour != null">
        #{schoolhour,jdbcType=INTEGER},
      </if>
      <if test="course_theme != null">
        #{course_theme,jdbcType=VARCHAR},
      </if>
      <if test="course_content != null">
        #{course_content,jdbcType=VARCHAR},
      </if>
      <if test="course_module != null">
        #{course_module,jdbcType=VARCHAR},
      </if>
      <if test="course_scenes != null">
        #{course_scenes,jdbcType=VARCHAR},
      </if>
      <if test="course_task != null">
        #{course_task,jdbcType=VARCHAR},
      </if>
      <if test="course_type != null">
        #{course_type,jdbcType=VARCHAR},
      </if>
      <if test="coreliteracyid != null">
        #{coreliteracyid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.system.entity.eduCourseExample" resultType="java.lang.Long">
    select count(*) from edu_course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_course
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.course_name != null">
        course_name = #{record.course_name,jdbcType=VARCHAR},
      </if>
      <if test="record.term != null">
        term = #{record.term,jdbcType=VARCHAR},
      </if>
      <if test="record.coreliteracycoefficient != null">
        coreliteracycoefficient = #{record.coreliteracycoefficient,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolhour != null">
        schoolhour = #{record.schoolhour,jdbcType=INTEGER},
      </if>
      <if test="record.course_theme != null">
        course_theme = #{record.course_theme,jdbcType=VARCHAR},
      </if>
      <if test="record.course_content != null">
        course_content = #{record.course_content,jdbcType=VARCHAR},
      </if>
      <if test="record.course_module != null">
        course_module = #{record.course_module,jdbcType=VARCHAR},
      </if>
      <if test="record.course_scenes != null">
        course_scenes = #{record.course_scenes,jdbcType=VARCHAR},
      </if>
      <if test="record.course_task != null">
        course_task = #{record.course_task,jdbcType=VARCHAR},
      </if>
      <if test="record.course_type != null">
        course_type = #{record.course_type,jdbcType=VARCHAR},
      </if>
      <if test="record.coreliteracyid != null">
        coreliteracyid = #{record.coreliteracyid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_course
    set id = #{record.id,jdbcType=INTEGER},
      course_name = #{record.course_name,jdbcType=VARCHAR},
      term = #{record.term,jdbcType=VARCHAR},
      coreliteracycoefficient = #{record.coreliteracycoefficient,jdbcType=VARCHAR},
      schoolhour = #{record.schoolhour,jdbcType=INTEGER},
      course_theme = #{record.course_theme,jdbcType=VARCHAR},
      course_content = #{record.course_content,jdbcType=VARCHAR},
      course_module = #{record.course_module,jdbcType=VARCHAR},
      course_scenes = #{record.course_scenes,jdbcType=VARCHAR},
      course_task = #{record.course_task,jdbcType=VARCHAR},
      course_type = #{record.course_type,jdbcType=VARCHAR},
      coreliteracyid = #{record.coreliteracyid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system.entity.eduCourse">
    update edu_course
    <set>
      <if test="course_name != null">
        course_name = #{course_name,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        term = #{term,jdbcType=VARCHAR},
      </if>
      <if test="coreliteracycoefficient != null">
        coreliteracycoefficient = #{coreliteracycoefficient,jdbcType=VARCHAR},
      </if>
      <if test="schoolhour != null">
        schoolhour = #{schoolhour,jdbcType=INTEGER},
      </if>
      <if test="course_theme != null">
        course_theme = #{course_theme,jdbcType=VARCHAR},
      </if>
      <if test="course_content != null">
        course_content = #{course_content,jdbcType=VARCHAR},
      </if>
      <if test="course_module != null">
        course_module = #{course_module,jdbcType=VARCHAR},
      </if>
      <if test="course_scenes != null">
        course_scenes = #{course_scenes,jdbcType=VARCHAR},
      </if>
      <if test="course_task != null">
        course_task = #{course_task,jdbcType=VARCHAR},
      </if>
      <if test="course_type != null">
        course_type = #{course_type,jdbcType=VARCHAR},
      </if>
      <if test="coreliteracyid != null">
        coreliteracyid = #{coreliteracyid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system.entity.eduCourse">
    update edu_course
    set course_name = #{course_name,jdbcType=VARCHAR},
      term = #{term,jdbcType=VARCHAR},
      coreliteracycoefficient = #{coreliteracycoefficient,jdbcType=VARCHAR},
      schoolhour = #{schoolhour,jdbcType=INTEGER},
      course_theme = #{course_theme,jdbcType=VARCHAR},
      course_content = #{course_content,jdbcType=VARCHAR},
      course_module = #{course_module,jdbcType=VARCHAR},
      course_scenes = #{course_scenes,jdbcType=VARCHAR},
      course_task = #{course_task,jdbcType=VARCHAR},
      course_type = #{course_type,jdbcType=VARCHAR},
      coreliteracyid = #{coreliteracyid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>