<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system.mapper.eduSchoolMapper">
  <resultMap id="BaseResultMap" type="com.education.system.entity.eduSchool">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="schoolName" jdbcType="VARCHAR" property="schoolName" />
    <result column="schoolContactor" jdbcType="VARCHAR" property="schoolContactor" />
    <result column="schoolPhone" jdbcType="VARCHAR" property="schoolPhone" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="accountId" jdbcType="INTEGER" property="accountId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, schoolName, schoolContactor, schoolPhone, status, accountId
  </sql>
  <select id="selectByExample" parameterType="com.education.system.entity.eduSchoolExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from edu_school
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitSize >= 0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_school
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_school
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.education.system.entity.eduSchoolExample">
    delete from edu_school
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.education.system.entity.eduSchool">
    insert into edu_school (id, schoolName, schoolContactor, 
      schoolPhone, status, accountId
      )
    values (#{id,jdbcType=INTEGER}, #{schoolName,jdbcType=VARCHAR}, #{schoolContactor,jdbcType=VARCHAR}, 
      #{schoolPhone,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{accountId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.education.system.entity.eduSchool">
    insert into edu_school
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schoolName != null">
        schoolName,
      </if>
      <if test="schoolContactor != null">
        schoolContactor,
      </if>
      <if test="schoolPhone != null">
        schoolPhone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="accountId != null">
        accountId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolContactor != null">
        #{schoolContactor,jdbcType=VARCHAR},
      </if>
      <if test="schoolPhone != null">
        #{schoolPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.education.system.entity.eduSchoolExample" resultType="java.lang.Long">
    select count(*) from edu_school
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_school
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.schoolName != null">
        schoolName = #{record.schoolName,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolContactor != null">
        schoolContactor = #{record.schoolContactor,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolPhone != null">
        schoolPhone = #{record.schoolPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.accountId != null">
        accountId = #{record.accountId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_school
    set id = #{record.id,jdbcType=INTEGER},
      schoolName = #{record.schoolName,jdbcType=VARCHAR},
      schoolContactor = #{record.schoolContactor,jdbcType=VARCHAR},
      schoolPhone = #{record.schoolPhone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      accountId = #{record.accountId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system.entity.eduSchool">
    update edu_school
    <set>
      <if test="schoolName != null">
        schoolName = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="schoolContactor != null">
        schoolContactor = #{schoolContactor,jdbcType=VARCHAR},
      </if>
      <if test="schoolPhone != null">
        schoolPhone = #{schoolPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="accountId != null">
        accountId = #{accountId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system.entity.eduSchool">
    update edu_school
    set schoolName = #{schoolName,jdbcType=VARCHAR},
      schoolContactor = #{schoolContactor,jdbcType=VARCHAR},
      schoolPhone = #{schoolPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      accountId = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>