<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.lms.mapper.BookInfoMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="getBookId" resultType="com.library.lms.pojo.BookInfo" parameterType="int">
        <!-- 具体的sql -->
        SELECT
        book_id,
        book_name,
        book_sort_id,
        book_author,
        book_price,
        book_type,
        book_publish,
        book_sum,
        book_mark
        FROM
        book_info
        WHERE
        book_id = #{bookId}
    </select>

    <select id="selectBook" resultType="com.library.lms.pojo.BookInfo">
        SELECT
        book_id,
        book_name,
        book_sort_id,
        book_author,
        book_price,
        book_type,
        book_publish,
        book_sum,
        book_mark
        FROM
        book_info
        ORDER BY
        book_id
        LIMIT #{limit}
    </select>


</mapper>