<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.library.lms.mapper.BookSortMapper">
    <select id="getBookSortId" resultType="com.library.lms.pojo.BookSort" parameterType="int">
        <!-- 具体的sql -->
        SELECT
        *
        FROM
        book_sort
        WHERE
        book_sort_id = #{book_sort_id};
    </select>

    <!--如果没有resultMap的映射数据库表字段而使用resultType的时候，那么每个javabean实体类的字段需要
    与数据库中表字段保持一致-->
    <select id="selectBookSort" resultType="com.library.lms.pojo.BookSort">
        SELECT
        book_sort_id,
        book_sort_name,
        book_sort_extend,
        book_sort_mark
        FROM
        book_sort
        LIMIT 10;
    </select>


    <insert id="addBookSort" parameterType="com.library.lms.pojo.BookSort">
        INSERT INTO
        book_sort (
        book_sort_name,
        book_sort_extend,
        book_sort_mark)
        VALUES (
        #{book_sort_name},
        #{book_sort_extend},
        #{book_sort_mark});
    </insert>

    <update id = "updateBookSort" parameterType="com.library.lms.pojo.BookSort" >
        update book_sort
        <set>
            <if test="book_sort_name !=null"> book_sort_name = #{book_sort_name},</if>
            <if test="book_sort_extend !=null"> book_sort_extend = #{book_sort_extend},</if>
            <if test="book_sort_mark !=null"> book_sort_mark = #{book_sort_mark},</if>
        </set>
        where book_sort_id = #{book_sort_id};
    </update>

    <delete id = "deleteBookSort" parameterType="int" >
        delete from book_sort where book_sort_id = #{book_sort_id};
    </delete>

</mapper>