<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.system.mapper.eduHardwarepurcharsMapper">
  <resultMap id="BaseResultMap" type="com.edu.system.entity.eduHardwarepurchars">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hardware_name" jdbcType="VARCHAR" property="hardware_name" />
    <result column="hardware_type" jdbcType="VARCHAR" property="hardware_type" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="apply_date" />
    <result column="apply_result" jdbcType="VARCHAR" property="apply_result" />
    <result column="apply_resultdes" jdbcType="VARCHAR" property="apply_resultdes" />
    <result column="apply_cause" jdbcType="VARCHAR" property="apply_cause" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, hardware_name, hardware_type, quantity, apply_date, apply_result, apply_resultdes, 
    apply_cause, applicant
  </sql>
  <select id="selectByExample" parameterType="com.edu.system.entity.eduHardwarepurcharsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from edu_hardwarepurchars
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitSize >= 0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_hardwarepurchars
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_hardwarepurchars
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edu.system.entity.eduHardwarepurcharsExample">
    delete from edu_hardwarepurchars
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edu.system.entity.eduHardwarepurchars">
    insert into edu_hardwarepurchars (id, hardware_name, hardware_type, 
      quantity, apply_date, apply_result, 
      apply_resultdes, apply_cause, applicant
      )
    values (#{id,jdbcType=INTEGER}, #{hardware_name,jdbcType=VARCHAR}, #{hardware_type,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{apply_date,jdbcType=TIMESTAMP}, #{apply_result,jdbcType=VARCHAR}, 
      #{apply_resultdes,jdbcType=VARCHAR}, #{apply_cause,jdbcType=VARCHAR}, #{applicant,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edu.system.entity.eduHardwarepurchars">
    insert into edu_hardwarepurchars
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hardware_name != null">
        hardware_name,
      </if>
      <if test="hardware_type != null">
        hardware_type,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="apply_date != null">
        apply_date,
      </if>
      <if test="apply_result != null">
        apply_result,
      </if>
      <if test="apply_resultdes != null">
        apply_resultdes,
      </if>
      <if test="apply_cause != null">
        apply_cause,
      </if>
      <if test="applicant != null">
        applicant,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hardware_name != null">
        #{hardware_name,jdbcType=VARCHAR},
      </if>
      <if test="hardware_type != null">
        #{hardware_type,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="apply_date != null">
        #{apply_date,jdbcType=TIMESTAMP},
      </if>
      <if test="apply_result != null">
        #{apply_result,jdbcType=VARCHAR},
      </if>
      <if test="apply_resultdes != null">
        #{apply_resultdes,jdbcType=VARCHAR},
      </if>
      <if test="apply_cause != null">
        #{apply_cause,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null">
        #{applicant,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.system.entity.eduHardwarepurcharsExample" resultType="java.lang.Long">
    select count(*) from edu_hardwarepurchars
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_hardwarepurchars
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.hardware_name != null">
        hardware_name = #{record.hardware_name,jdbcType=VARCHAR},
      </if>
      <if test="record.hardware_type != null">
        hardware_type = #{record.hardware_type,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null">
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.apply_date != null">
        apply_date = #{record.apply_date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.apply_result != null">
        apply_result = #{record.apply_result,jdbcType=VARCHAR},
      </if>
      <if test="record.apply_resultdes != null">
        apply_resultdes = #{record.apply_resultdes,jdbcType=VARCHAR},
      </if>
      <if test="record.apply_cause != null">
        apply_cause = #{record.apply_cause,jdbcType=VARCHAR},
      </if>
      <if test="record.applicant != null">
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_hardwarepurchars
    set id = #{record.id,jdbcType=INTEGER},
      hardware_name = #{record.hardware_name,jdbcType=VARCHAR},
      hardware_type = #{record.hardware_type,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      apply_date = #{record.apply_date,jdbcType=TIMESTAMP},
      apply_result = #{record.apply_result,jdbcType=VARCHAR},
      apply_resultdes = #{record.apply_resultdes,jdbcType=VARCHAR},
      apply_cause = #{record.apply_cause,jdbcType=VARCHAR},
      applicant = #{record.applicant,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.system.entity.eduHardwarepurchars">
    update edu_hardwarepurchars
    <set>
      <if test="hardware_name != null">
        hardware_name = #{hardware_name,jdbcType=VARCHAR},
      </if>
      <if test="hardware_type != null">
        hardware_type = #{hardware_type,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="apply_date != null">
        apply_date = #{apply_date,jdbcType=TIMESTAMP},
      </if>
      <if test="apply_result != null">
        apply_result = #{apply_result,jdbcType=VARCHAR},
      </if>
      <if test="apply_resultdes != null">
        apply_resultdes = #{apply_resultdes,jdbcType=VARCHAR},
      </if>
      <if test="apply_cause != null">
        apply_cause = #{apply_cause,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null">
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.system.entity.eduHardwarepurchars">
    update edu_hardwarepurchars
    set hardware_name = #{hardware_name,jdbcType=VARCHAR},
      hardware_type = #{hardware_type,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      apply_date = #{apply_date,jdbcType=TIMESTAMP},
      apply_result = #{apply_result,jdbcType=VARCHAR},
      apply_resultdes = #{apply_resultdes,jdbcType=VARCHAR},
      apply_cause = #{apply_cause,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>