<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.system.mapper.eduTaskscoreMapper">
  <resultMap id="BaseResultMap" type="com.edu.system.entity.eduTaskscore">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taskAndstuId" jdbcType="INTEGER" property="taskAndstuId" />
    <result column="t_suggest" jdbcType="VARCHAR" property="t_suggest" />
    <result column="t_score" jdbcType="VARCHAR" property="t_score" />
    <result column="task_suggest" jdbcType="VARCHAR" property="task_suggest" />
    <result column="task_score" jdbcType="VARCHAR" property="task_score" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, taskAndstuId, t_suggest, t_score, task_suggest, task_score
  </sql>
  <select id="selectByExample" parameterType="com.edu.system.entity.eduTaskscoreExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from edu_taskscore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitSize >= 0">
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edu_taskscore
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edu_taskscore
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.edu.system.entity.eduTaskscoreExample">
    delete from edu_taskscore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.edu.system.entity.eduTaskscore">
    insert into edu_taskscore (id, taskAndstuId, t_suggest, 
      t_score, task_suggest, task_score
      )
    values (#{id,jdbcType=INTEGER}, #{taskAndstuId,jdbcType=INTEGER}, #{t_suggest,jdbcType=VARCHAR}, 
      #{t_score,jdbcType=VARCHAR}, #{task_suggest,jdbcType=VARCHAR}, #{task_score,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.edu.system.entity.eduTaskscore">
    insert into edu_taskscore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskAndstuId != null">
        taskAndstuId,
      </if>
      <if test="t_suggest != null">
        t_suggest,
      </if>
      <if test="t_score != null">
        t_score,
      </if>
      <if test="task_suggest != null">
        task_suggest,
      </if>
      <if test="task_score != null">
        task_score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskAndstuId != null">
        #{taskAndstuId,jdbcType=INTEGER},
      </if>
      <if test="t_suggest != null">
        #{t_suggest,jdbcType=VARCHAR},
      </if>
      <if test="t_score != null">
        #{t_score,jdbcType=VARCHAR},
      </if>
      <if test="task_suggest != null">
        #{task_suggest,jdbcType=VARCHAR},
      </if>
      <if test="task_score != null">
        #{task_score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.edu.system.entity.eduTaskscoreExample" resultType="java.lang.Long">
    select count(*) from edu_taskscore
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update edu_taskscore
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskAndstuId != null">
        taskAndstuId = #{record.taskAndstuId,jdbcType=INTEGER},
      </if>
      <if test="record.t_suggest != null">
        t_suggest = #{record.t_suggest,jdbcType=VARCHAR},
      </if>
      <if test="record.t_score != null">
        t_score = #{record.t_score,jdbcType=VARCHAR},
      </if>
      <if test="record.task_suggest != null">
        task_suggest = #{record.task_suggest,jdbcType=VARCHAR},
      </if>
      <if test="record.task_score != null">
        task_score = #{record.task_score,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update edu_taskscore
    set id = #{record.id,jdbcType=INTEGER},
      taskAndstuId = #{record.taskAndstuId,jdbcType=INTEGER},
      t_suggest = #{record.t_suggest,jdbcType=VARCHAR},
      t_score = #{record.t_score,jdbcType=VARCHAR},
      task_suggest = #{record.task_suggest,jdbcType=VARCHAR},
      task_score = #{record.task_score,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.system.entity.eduTaskscore">
    update edu_taskscore
    <set>
      <if test="taskAndstuId != null">
        taskAndstuId = #{taskAndstuId,jdbcType=INTEGER},
      </if>
      <if test="t_suggest != null">
        t_suggest = #{t_suggest,jdbcType=VARCHAR},
      </if>
      <if test="t_score != null">
        t_score = #{t_score,jdbcType=VARCHAR},
      </if>
      <if test="task_suggest != null">
        task_suggest = #{task_suggest,jdbcType=VARCHAR},
      </if>
      <if test="task_score != null">
        task_score = #{task_score,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.system.entity.eduTaskscore">
    update edu_taskscore
    set taskAndstuId = #{taskAndstuId,jdbcType=INTEGER},
      t_suggest = #{t_suggest,jdbcType=VARCHAR},
      t_score = #{t_score,jdbcType=VARCHAR},
      task_suggest = #{task_suggest,jdbcType=VARCHAR},
      task_score = #{task_score,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>