<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!---->
    <!--通过注解的方式进行配置-->
    <context:annotation-config/>

    <!--配置连接数据库的驱动，URL，账号和密码-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/how2j?characterEncoding=UTF-8</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>123456</value>
        </property>
    </bean>

    <!--扫描XML配置文件-->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="typeAliasesPackage" value="pojo"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!--扫描Mapper类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mapper"/>
    </bean>


    <!--通过关键字c即可获取Category对象，该对象获取的时候，即被注入了字符串"category 1“到name属性中-->
    <bean name="c" class="pojo.Category">
        <property name="name" value="category 1"/>
        <property name="id" value="1"/>
    </bean>
    <bean name="p" class="pojo.Product">
        <property name="productName" value="chanpin 1 hao"/>
        <property name="id" value="1000"/>
        <!--在创建Product的时候注入一个Category对象
            注意，这里要使用ref来注入另一个对象-->
        <property name="category" ref="c"/>
    </bean>
    <bean name="co" class="pojo.CategoryOther">
        <property name="name" value="other category"/>
    </bean>
    <!--其作用是告诉Spring，bean都放在com.how2java.pojo这个包下-->
    <context:component-scan base-package="pojo"/>
    <!--被注解了的切面类，进行切面配置-->
    <aop:aspectj-autoproxy/>
    <!--声明业务对象-->
    <bean name="ps" class="pojo.ProductService">
    </bean>
    <!--声明日志切面-->
    <bean name="lg" class="pojo.LoggerAspect">
    </bean>
    <aop:config>

        <!--指定右边的核心业务功能-->
        <aop:pointcut id="loggerCutpoint" expression="execution(* pojo.ProductService.*(..)) "/>
        <!--指定左边的辅助功能
        然后通过aop:config把业务对象与辅助功能编织在一起。-->
        <aop:aspect id="logAspect" ref="lg">
            <aop:around pointcut-ref="loggerCutpoint" method="log"/>
        </aop:aspect>
    </aop:config>
</beans>